@import "../../Mixins";

.allArea{
    @include colors($bc:#0f7afc,$col:black,$br:$spase-ten+5);
    @include indents($mg:$spase-ten);
    @extend %BoxShadow;
    padding: 15px;
    h1{
      text-align: center;
    }
    h3{
        margin-left: 10px;
    }
    input{
    width: 100%;

       @include indents($mg:8px 0,$pad:12px 20px);

    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    }
    input:focus{
    background-color: lightblue;
    }
    button{
        @include colors($bc:#000,$col:white);
        @include indents($pad:.8em 2em);

        position: relative;

    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    outline: none;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
        &:active{
            top: 1px;
            box-shadow: none;
        }
        &:hover{
            transition: .5s linear;
            background-position: -200% 0, 0 0;
        }
    }
}
