.ObjectForm{
    margin: 10px;
    background-color: #0f7afc;


    color: black;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;

    border-radius: 15px;
    padding: 10px;
}
.ObjectForm img{
    width: 90%;
    border-radius: 10px;
}
.ObjectForm button{
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: #000;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
    border-radius: 5px;
    margin-left: 50%;
    width: 50%;
}
.ObjectForm button:active{
    top: 1px;
    box-shadow: none;
}
.ObjectForm button:hover{
    transition: .5s linear;
    background-position: -200% 0, 0 0;
}
.changePhoto button{
    margin: 0;
    padding: 0;
    width: 35px;
    height: 35px;
    border-radius: 20px;
}
.changePhoto{
    text-align: center;
}

