.loginForm{
    margin: 10px;
    background-color: #0f7afc;


    color: black;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;

    border-radius: 15px;
    padding: 10px;
}