$spase-ten:10px;
@mixin colors($bc:black,$col:black,$br:""){
    color:$col ;
    background-color: $bc;
    border-radius: $br;
}
@mixin indents($mg:"",$pad:""){
    margin:$mg;
    padding: $pad;
}
%inputText{
    border-radius: $spase-ten/2;
    margin: $spase-ten/2;
    width: 50%;
    height: $spase-ten*2;
}
%BoxShadow{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
}
%BoxShadow2 {
    box-shadow:
            inset rgba(0,0,0,.6) 0 -3px 8px,
            inset rgba(252,255,255,.7) 0 3px 8px,
            rgba(0,0,0,.8) 0 3px 8px -3px;
}
